################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SDronacharyaFitnessZone.API/.vs/SDronacharyaFitnessZone.API/FileContentIndex

.fake